body
{
	font-size: 62.5%;
	color:#ffffff !important;
	background-color: #ffffff;
}

a{
	text-decoration:none; 
	color:#ffffff !important;
}

.mdl-navigation a
{
	padding: 10px !important;
}

.mdl-layout__header-row
{
	background-color: #000000 !important;
}

#home
{
	background: url('../img/home.jpg') center / cover;
	height:100vh;
}

#home #homeTitulo
{
	margin:0;
	padding-top: 40%;
	font-size: 2.1em;
	font-weight: bold;
}

#home #homeSubTitulo
{
	padding-top: 10%;
	font-size: 1.2em;
}

#home #homeNext
{
	margin-top: 15%;
	font-size: 1.2em;
}

#servicos
{
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 2em;
}

#servicos #servicosTitulo
{
	display: block;
	font-size: 2em;
	padding-bottom: 1em;
	margin-top: -1.5em;
	color: #000000;
}

#servicos #card
{
	display: inline-block;
	font-size: 2em;
	color: #3E2723;
	height: 5em;
	width: 7.5em;
	padding-top: 1.5em;
	margin:.5em;
	cursor: pointer;
}

#contato
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	height: 100vh;
}
